*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&display=swap');


body{
    background-color: rgb(217, 222, 226);
}

/*Todo el diseño del nav*/

nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav {
    padding: 0;
    margin: 0;
    font-family: font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  
  nav ul {
    list-style: none;
    
    margin: 10px;
    background: rgb(80, 17, 161);
  }

  nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .8em 3em;
    transition: 0.5s;
  }
  
  nav li a:hover {
    background: rgb(22, 21, 24);
    color: white;
  }
  
/* fin del nav */
/* Distintas Fuentes */  
  h1 a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: white;
      font-family: 'Source Serif 4', sans-serif;
      background-color: rgb(80, 17, 161);
      text-align: center;
      margin: 0px;
      padding-bottom: 0px;
      transition: 0.5s;
  }
   h1 a:hover{
     color: black;
     
   }
  h1 a {
    text-align: center;
  }
   
  h2{
    font-family: 'Dongle', sans-serif;
  }

  h3{
    font-size: 26px;
    font-family: 'Dongle', sans-serif;
}

 p{
    font-size: 20px;
    font-family: 'Dongle', sans-serif;
 }
 
  h4{
    font-size: 30px;
    font-family:'Dongle', sans-serif;
  } 
  .colorParrafo{
    color: white;

  }
  
  footer{
    margin-top: 100px;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgb(80, 17, 161);
  }

  header{
    background-color: rgb(80, 17, 161);
  }

  .flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .titulo{
    display: flex;
    align-self: flex-start;
  }

  .formulario{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 80px;
    margin-top: 10px;

  }

  .galeriaImagenes{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .sinDecoracion{
    text-decoration: none;
    color: white;
    font-family: 'Dongle', sans-serif;
  }
  
  .formContacto{
    display: flex;
    justify-content: center;
    text-align: center;

  }

.hotel{
  display: flex;
  justify-content: center;
}
 label{
   font-family:'Dongle', sans-serif ;
 }